In [ ]:
#Stuff that might improve the TejaProject

'''
import glob

files_grabbed = [glob.glob(e) for e in ['*.txt']]
input_fileName = input("Enter input file name and file path if located in different folder: ")

inputDelimiter = ''
delimiters = []
while inputDelimiter != 'done':
    inputDelimiter =input("Enter delimiters one at a time. Enter 'done' when finished. Example:('!', '~', '|'): ")
    if inputDelimiter == 'done':
        break
    delimiters.append(inputDelimiter)

print("\nCan be located in Control Panel -> System and Secruity -> Admin Tools on Windows")
inputDriver = input("Enter database drivers: ")
inputServer = input("Enter server name of data source: ")
inputDBname = input("Enter database name: ")
inputPort = input("Enter port number: ")
inputUID = input("Enter UID: ")
inputPWD = input("Enter password: ")
con = py.connect('DRIVER = {' + inputDriver + '}; Server=' + inputServer + '; PORT=' + inputPort +'; DATABASE= ' + inputDBname + '; UID='+ inputUID + '; PASSWORD =' + inputPWD)
print(delimiters)
'''

In [7]:
#Authors: Allan Hoang, Scott G. Murphy

import pyodbc as py
import datetime
import re

'''
try:
    con = py.connect("DRIVER={MySQL ODBC 5.3 ANSI Driver}; SERVER=localhost; PORT=3306;DATABASE=sim; UID=root; PASSWORD=12345") 
except pyodbc.Error as ex:
    sqlstate = ex.args[1]
    print(sqlstate) 
'''

con = py.connect("DRIVER={MySQL ODBC 5.3 ANSI Driver}; SERVER=localhost; PORT=3306;DATABASE=sim; UID=root; PASSWORD=12345")     
cur = con.cursor()

#Filename and path to file if needed
fileName ='inputTwo.txt'
delimiters = ('|','~')
result = []
colName = []
colCount = 1

#Getting the current time
timeStamp = ('{:%Y-%b-%d %H:%M:%S}'.format(datetime.datetime.now()))
tableName = fileName + timeStamp

regexPattern = '|'.join(map(re.escape, delimiters))

#reads line by line
with open(fileName, "r") as f: 
    for index, line in enumerate(f, start = 0): 
        
#splits line and inputs into result list
        result.append(re.split(regexPattern, line))

#for if/loop counts delimiters
        if index== 0:
            for delimiter in delimiters:
                if delimiter in line:
                    colCount += line.count(delimiter)
print('Based on the number of delimiters. There should be ' + str(colCount) + ' columns')                    

#formatting for SQL queries                
def formatTableName(string1):
    return str(string1).replace(' ','_').replace('-','_').replace(':', '_').replace('.', '_')
        
def listToStringWithoutBrackets(list1):
    return str(list1).replace('[','(').replace(']',')').replace('((', '(').replace('))',')').replace(r'\n', '')

def listToStringWithoutBracketsCommas(list1):
    return str(list1).replace('\'','').replace('[','(').replace(']',')').replace('((', '(').replace('))',')').replace(r'\n', '')

result2 = listToStringWithoutBrackets(result[1:])
colNames = listToStringWithoutBracketsCommas(result[0:1])
tableName = formatTableName(tableName)


    
#Variable used to create table
colNamesWithVar = listToStringWithoutBracketsCommas(result[0])


print(tableName)
print(colNames)
print(colNames)

Based on the number of delimiters. There should be 4 columns
inputTwo_txt2017_Jul_27_22_31_39
(empName, title, age, datePublished)
(empName, title, age, datePublished)

In [3]:
for i, num in enumerate(result[0], start = 0):
    print(type(result[1][i]))
    print(result[1][i])
    #inputVariable = input(" Enter variable type and keys for column " + str(i + 1) + ' Example: VARCHAR(40) Primary Key: ')
    #result[0][i] = (result[0][i] + ' ' + inputVariable)
    
print(colNames)

<class 'str'>
Liz
<class 'str'>
Liz
<class 'str'>
21
<class 'str'>
1995-02-14

(empName, title, age, datePublished)

In [3]:
#SQL statements. Change depending on the SQL query syntax.
#Currently set up for MYSQL

#Creating table
#cur.execute('DROP TABLE IF EXISTS \'' + tableName + '\';')
cur.execute('CREATE table '+ tableName + ' ' + colNamesWithVar + ');')
cur.commit()

            
#Inserting into File
#Use Replace into if expecting duplicates
cur.execute('REPLACE INTO ' + tableName + ' '+ colNames + ' VALUES ' + result2 + ';')

#Use INSERT if not expecting duplicates
#cur.execute('INSERT INTO ' + tableName + '+ colNames + ' VALUES ' + result2 + ';')

#Must commit all data being altered
cur.commit()

In [ ]:
#Close Connection
con.close()