In [9]:
import pyodbc as pypyodbc

con = pypyodbc.connect("DRIVER={MySQL ODBC 5.3 ANSI Driver}; SERVER=localhost; PORT=3306;DATABASE=sim; UID=root; PASSWORD=12345") 

cur = con.cursor()

fileName ='inputOne.txt'
delimiter = '~'
nameOne = []
#open('path to file)


result = []
with open(fileName, "r") as f: 
    for index, line in enumerate(f, start = 0): 
        result.append(line.strip().split(delimiter))

def listToStringWithoutBrackets(list1):
    return str(list1).replace('[','(').replace(']',')').replace('((', '(').replace('))',')')

def listToStringWithoutBracketsCommas(list1):
    return str(list1).replace('\'','').replace('[','(').replace(']',')').replace('((', '(').replace('))',')')

result2 = listToStringWithoutBrackets(result[1:])
resultHeader = listToStringWithoutBracketsCommas(result[0:1])
#Inserting into File
#Use Replace into if expecting duplicates
print(result2[0:])

cur.execute('REPLACE INTO employees '+ resultHeader + ' VALUES ' + result2 + ';')
#Use INSERT if not expecting duplicates
#cur.execute('INSERT INTO employees '+ resultHeader + ' VALUES ' + result2 + ';')

#Must commit all data being altered
cur.commit()

#Test print
cur.execute('Select * from employees;')
rows = cur.fetchall()
for row in rows:
    print(row.EmpName, row.title, row.age)
#Close Connection
con.close()

('Liz', 'Punk', '6ish'), ('Mat', 'FrisbeeMan', 'NA'), ('Scott', 'Scooter', 'Unknown'), ('Manoj', 'Data Analyst', 'Unknown'), ('Allan', '1035B', '22')
Allan 1035B 22
Liz Punk 6ish
Manoj Data Analyst Unknown
Mat FrisbeeMan NA
Scott Scooter Unknown

ProgrammingError: ('42000', "[42000] [MySQL][ODBC 5.3(a) Driver][mysqld-5.7.19-log]You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'VARCHAR(60) Primary Key|title VARCHAR(40), age VARCHAR(20)) VALUES ('Liz', 'Punk' at line 1 (1064) (SQLExecDirectW)")