In [1]:
#Lists can have mixed data types

In [2]:
MyFirstList = [3, 45, 56, 732]

In [3]:
MyFirstList

[3, 45, 56, 732]

In [4]:
type(MyFirstList)

list

In [8]:
L2 = ["hello", 24, True, 55.3]

In [9]:
L2

['hello', 24, True, 55.3]

In [11]:
L3 = ['How are you?', 55, MyFirstList]

In [12]:
L3

['How are you?', 55, [3, 45, 56, 732]]

In [13]:
#----

In [14]:
range(15) # Same xrange() as Python 2

range(0, 15)

In [16]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [17]:
x = [1,2,3,4,5,6,7]
x

[1, 2, 3, 4, 5, 6, 7]

In [19]:
y = list(range(8))
y

[0, 1, 2, 3, 4, 5, 6, 7]

In [20]:
z = list(range(1,8))
z

[1, 2, 3, 4, 5, 6, 7]

In [21]:
z2 = list(range(100,121))
z2

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120]

In [22]:
w = list(range(100,111,2))
w

[100, 102, 104, 106, 108, 110]

In [23]:
w = ['a','b','c','d','e']
w

['a', 'b', 'c', 'd', 'e']

In [24]:
w[1]

'b'

In [25]:
w[0]

'a'

In [26]:
len(w)

5

In [28]:
w[-1] #Different behavior in R

'e'

In [29]:
#overwrite values

In [30]:
w

['a', 'b', 'c', 'd', 'e']

In [31]:
w[2] = 63

In [32]:
w

['a', 'b', 63, 'd', 'e']