In [ ]:
'''input_fileName = input("Enter input file name and file path if located in different folder: ")

inputDelimiter = ''
delimiters = []
while inputDelimiter != 'done':
    inputDelimiter =input("Enter delimiters one at a time. Enter 'done' when finished. Example:('!', '~', '|'): ")
    if inputDelimiter == 'done':
        break
    delimiters.append(inputDelimiter)

print("\nCan be located in Control Panel -> System and Secruity -> Admin Tools on Windows")
inputDriver = input("Enter database drivers: ")
inputServer = input("Enter server name of data source: ")
inputDBname = input("Enter database name: ")
inputPort = input("Enter port number: ")
inputUID = input("Enter UID: ")
inputPWD = input("Enter password: ")
con = py.connect('DRIVER = {' + inputDriver + '}; Server=' + inputServer + '; PORT=' + inputPort +'; DATABASE= ' + inputDBname + '; UID='+ inputUID + '; PASSWORD =' + inputPWD)
print(delimiters)
'''

In [22]:
import pyodbc as py
import datetime
import re


con = py.connect("DRIVER={MySQL ODBC 5.3 ANSI Driver}; SERVER=localhost; PORT=3306;DATABASE=sim; UID=root; PASSWORD=12345") 
cur = con.cursor()

#Filename and path to file if needed
fileName ='inputTwo.txt'
delimiters = ('|','~')
result = []
colName = []
colCount = 0

#Getting the current time
timeStamp = ('{:%Y-%b-%d %H:%M:%S}'.format(datetime.datetime.now()))
tableName = fileName + timeStamp

regexPattern = '|'.join(map(re.escape, delimiters))

#reads line by line
with open(fileName, "r") as f: 
    for index, line in enumerate(f, start = 0): 
        
#splits line and inputs into result list
        result.append(re.split(regexPattern, line))

#for if/loop counts delimiters
        if index== 0:
            for delimiter in delimiters:
                if delimiter in line:
                    colCount += line.count(delimiter)
                    

#formatting for SQL queries                
def formatTableName(string1):
    return str(string1).replace(' ','_').replace('-','_').replace(':', '_').replace('.', '_')
        
def listToStringWithoutBrackets(list1):
    return str(list1).replace('[','(').replace(']',')').replace('((', '(').replace('))',')').replace(r'\n', '')

def listToStringWithoutBracketsCommas(list1):
    return str(list1).replace('\'','').replace('[','(').replace(']',')').replace('((', '(').replace('))',')').replace(r'\n', '')

result2 = listToStringWithoutBrackets(result[1:])
colNames = listToStringWithoutBracketsCommas(result[0:1])
tableName = formatTableName(tableName)


for i, num in enumerate(result[0], start = 0):
    inputVariable = input(" Enter variable type and keys for column " + str(i) + ' Example: VARCHAR(40) Primary Key: ')
    result[0][i] = (result[0][i] + ' ' + inputVariable)
    
#Variable used to create table
colNamesWithVar = listToStringWithoutBracketsCommas(result[0])

inputTwo_txt2017_Jul_25_10_32_23
(empName, title, age)
('Liz', 'Punk', '6ish'), ('Mat', 'FrisbeeMan', 'NA'), ('Scott', 'Scooter', 'Unknown'), ('Manoj', 'Data Analyst', 'Unknown'), ('Allan', '1035B', '22')
 Enter variable type and keys for column 0 Example: VARCHAR(40) Primary Key: VARCHAR(40) Primary Key
 Enter variable type and keys for column 1 Example: VARCHAR(40) Primary Key: VARCHAR(20)
 Enter variable type and keys for column 2 Example: VARCHAR(40) Primary Key: VARCHAR(20)

tuple

In [29]:


#Creating table

#cur.execute('DROP TABLE IF EXISTS \'' + tableName + '\';')
cur.execute('CREATE table '+ tableName + ' ' + colNamesWithVar + ');')
cur.commit()

            
#Inserting into File
#Use Replace into if expecting duplicates
cur.execute('REPLACE INTO ' + tableName + ' '+ colNames + ' VALUES ' + result2 + ';')
#Use INSERT if not expecting duplicates
#cur.execute('INSERT INTO ' + tableName + '+ colNames + ' VALUES ' + result2 + ';')

#Must commit all data being altered
cur.commit()


#Close Connection
#con.close()

CREATE table inputTwo_txt2017_Jul_25_10_32_23 (empName VARCHAR(40) Primary Key, title VARCHAR(20), age VARCHAR(20));