In [161]:
#Stuff that might improve the TejaProject


# import glob

# files_grabbed = [glob.glob(e) for e in ['*.txt']]
# input_fileName = input("Enter input file name and file path if located in different folder: ")

# inputDelimiter = ''
# delimiters = []
# while inputDelimiter != 'done':
#     inputDelimiter =input("Enter delimiters one at a time. Enter 'done' when finished. Example:('!', '~', '|'): ")
#     if inputDelimiter == 'done':
#         break
#     delimiters.append(inputDelimiter)

# print("\nCan be located in Control Panel -> System and Secruity -> Admin Tools on Windows")
# inputDriver = input("Enter database drivers: ")
# inputServer = input("Enter server name of data source: ")
# inputDBname = input("Enter database name: ")
# inputPort = input("Enter port number: ")
# inputUID = input("Enter UID: ")
# inputPWD = input("Enter password: ")
# con = py.connect('DRIVER = {' + inputDriver + '}; Server=' + inputServer + '; PORT=' + inputPort +'; DATABASE= ' + inputDBname + '; UID='+ inputUID + '; PASSWORD =' + inputPWD)
# print(delimiters)

In [1]:
#Authors: Allan Hoang, Scott G. Murphy

import pyodbc as py
import datetime
import re


try:
    con = py.connect("DRIVER={MySQL ODBC 5.3 ANSI Driver}; SERVER=localhost; PORT=3306;DATABASE=sim; UID=root; PASSWORD=12345") 
except pyodbc.Error as ex:
    sqlstate = ex.args[1]
    print(sqlstate) 

#con = py.connect("DRIVER={MySQL ODBC 5.3 ANSI Driver}; SERVER=localhost; PORT=3306;DATABASE=sim; UID=root; PASSWORD=12345")     
cur = con.cursor()

#Filename and path to file if needed
fileName ='inputTwo.txt'
delimiters = ('~', '|')
result = []
colName = []
colCount = 1

#Getting the current time
timeStamp = ('{:%Y-%b-%d %H:%M:%S}'.format(datetime.datetime.now()))
tableName = fileName + timeStamp

regexPattern = '|'.join(map(re.escape, delimiters))

#reads line by line
with open(fileName, "r") as f: 
    for index, line in enumerate(f, start = 0):
#        junk = line.strip().split(delimiters)
        junk =(re.split(regexPattern, line))
        result.append(junk)
        colCount = len(junk)

# #for if/loop counts delimiters
#         if index== 0:
#             for delimiter in delimiters:
#                 if delimiter in line:
#                     colCount += line.count(delimiter)

print('Based on the number of delimiters. There should be ' + str(colCount) + ' columns')       
print("Date columns should be formatted as YYYY-MM-DD, else it will be declared as a VARCHAR")  

#formatting for SQL queries                
def formatTable(string1):
    return str(string1).replace('.txt', '').replace(' ','_').replace('-','_').replace(':', '_').replace('.', '_')

# def formatTable(string1):
#     str(string1).replace(' ','_').replace('-','_').replace(':', '_').replace('.', '_')

def listToStringWithoutBrackets(list1):
    return str(list1).replace('[','(').replace(']',')').replace('((', '(').replace('))',')').replace(r'\n', '')

def listToStringWithoutBracketsCommas(list1):
    return str(list1).replace('\'','').replace('[','(').replace(']',')').replace('((', '(').replace('))',')').replace(r'\n', '')

# def listToStringWithoutBrackets(list1):
#     str(list1).replace('[','(').replace(']',')').replace('((', '(').replace('))',')').replace(r'\n', '')
#     str(list1).replace('\'','').replace('[','(').replace(']',')').replace('((', '(').replace('))',')').replace(r'\n', '')
#     return list1

#variables to hold formatted text
result2 = listToStringWithoutBrackets(result[1:])
colNames = listToStringWithoutBracketsCommas(result[0:1])
tableName = formatTable(tableName)
print(tableName)

Based on the number of delimiters. There should be 4 columns
Date columns should be formatted as YYYY-MM-DD, else it will be declared as a VARCHAR
inputTwo2017_Jul_26_14_56_11

In [163]:
#tests columns data type, returns either varchar, int, float, or date data types
def grabDataType(str1, list1 = []):
    val = 0
    var = "VARCHAR(50)"
    try:
        datetime.datetime.strptime(list1[1][i], '%Y-%m-%d')
        var = ("DATE")
    except ValueError:
#         print("Column " + str(i +1) + " is not a date or incorrect data format, should be YYYY-MM-DD")  
        var = "VARCHAR(50)"  
    try:
        val = float(list1[1][i])
        var = "FLOAT(20, 2)"
    except ValueError:
        pass
#         print("Column "+ str(i + 1) + " is not a float!")
    else:
        try:
            val = int(list1[1][i])
            var = "INT"
        except ValueError:
                pass
#             print("Column "+ str(i + 1) + " is not a float!")
    return (var)

In [164]:
#enumerating for loop, goes over the list we made
for i, num in enumerate(result[0], start = 0):
    
    var = grabDataType(result[1][i], result)
    print("Column " + str(i + 1) + " is data type " + var + " based on the first row of data\n")
    if(i == 0):
        result[0][0] = (result[0][0] + ' ' + var + " Primary Key")
    if( i > 0):
        result[0][i] = (result[0][i] + ' ' + var )

print("Column names with data types:")
print(result[0])

Column 1 is data type VARCHAR(50) based on the first row of data

Column 2 is data type VARCHAR(50) based on the first row of data

Column 3 is data type INT based on the first row of data

Column 4 is data type DATE based on the first row of data

Column names with data types:
['empName VARCHAR(50) Primary Key', 'title VARCHAR(50)', 'age INT', 'datePublished DATE']

In [165]:
#Columns with variables used to create table
colNamesWithVar = listToStringWithoutBracketsCommas(result[0])

In [166]:
#SQL statements. Change depending on the SQL query syntax.
#Currently set up for MYSQL

#Creating table
#cur.execute('DROP TABLE IF EXISTS \'' + tableName + '\';')
print('CREATE table '+ tableName + ' ' + colNamesWithVar + ';\n')
cur.execute('CREATE table '+ tableName + ' ' + colNamesWithVar + ';')
cur.commit()

#Inserting into File
#Use Replace into if expecting duplicates
print('REPLACE INTO ' + tableName + ' '+ colNames + ' VALUES ' + result2 + ';')
cur.execute('REPLACE INTO ' + tableName + ' '+ colNames + ' VALUES ' + result2 + ';')

#Use INSERT if not expecting duplicates
#cur.execute('INSERT INTO ' + tableName + '+ colNames + ' VALUES ' + result2 + ';')

#Must commit all data being altered
cur.commit()

CREATE table inputTwo2017_Jul_26_14_45_52 (empName VARCHAR(50) Primary Key, title VARCHAR(50), age INT, datePublished DATE);

REPLACE INTO inputTwo2017_Jul_26_14_45_52 (empName, title, age, datePublished) VALUES ('Liz', 'Punk', '21', '1995-02-14'), ('Mat', 'FrisbeeMan', '211', '1995-02-15'), ('Scott', 'Scooter', '21', '1995-02-16'), ('Manoj', 'Data Analyst', '21', '1995-02-17'), ('Allan', '1035B', '22', '1995-02-18');

In [167]:
#Close Connection
con.close()