In [ ]:
import pyodbc as pypyodbc

con = pypyodbc.connect(
    r'Driver={SQL Server Native Client 10.0};'
    r'Server=(.\SQLEXPRESS)'
    r'Trusted_Connection=yes;')

cur = con.cursor()

fileName ='inputOne.txt'
delimiter = '~'
nameOne = []
#open('path to file)

'''
#Reading in entire txt files
with open(fileName) as f:
    for line in f:
        #split(delimiter) returns a list of strings / use re.split if multiple delimiters
        nameOne = line.strip().split(delimiter)
        print(nameOne)
        #comment out for entire txt file
        #break
'''

result = []
with open(fileName, "r") as f: 
    for line in f: 
        result.append(line.strip().split(delimiter))

#Create table employees('+result[0:1]+' VARCHAR Primary Key, '+ result[0:2] +' VARCHAR,' + result[0:3]+ ' VARCHAR);'
cur.execute('INSERT into employees VALUES(' + str(result[1:]) + ')')

con.close()