In [1]:
import pyodbc as pypyodbc

con = pypyodbc.connect("DRIVER={MySQL ODBC 5.3 ANSI Driver}; SERVER=localhost; PORT=3306;DATABASE=sim; UID=root; PASSWORD=12345") 

cur = con.cursor()

fileName ='inputOne.txt'
delimiter = '~'
nameOne = []
#open('path to file)


result = []
with open(fileName, "r") as f: 
    for line in f: 
        #result.append(line.strip().split(delimiter))

def listToStringWithoutBrackets(list1):
    return str(list1).replace('[','(').replace(']',')').replace('((', '(').replace('))',')')

def listToStringWithoutBracketsCommas(list1):
    return str(list1).replace('\'','').replace('[','(').replace(']',')').replace('((', '(').replace('))',')')

result2 = listToStringWithoutBrackets(result[1:])
resultHeader = listToStringWithoutBracketsCommas(result[0:1])
#Inserting into File
#Use Replace into if expecting duplicates
cur.execute('REPLACE INTO employees '+ resultHeader + ' VALUES ' + result2 + ';')
#Use INSERT if not expecting duplicates
cur.execute('INSERT INTO employees '+ resultHeader + ' VALUES ' + result2 + ';')

#Must commit all data being altered
cur.commit()

#Test print
cur.execute('Select * from employees;')
rows = cur.fetchall()
for row in rows:
    print(row.empName, row.title, row.age)
#Close Connection
con.close()

NameError: name 're' is not defined